:root { 
--blue_gray_100_01:#d4d4d4; 
--blue_gray_100_02:#d5d5d5; 
--blue_gray_100_03:#d9d9d9; 
--gray_200_7f:#e7e7e77f; 
--orange_100_01:#ffe6a5; 
--gray_800_00:#3b3b3b00; 
--white_A700_33:#ffffff33; 
--yellow_800:#f6b426; 
--black_900:#000000; 
--white_A700_14:#ffffff14; 
--yellow_700:#ffb629; 
--gray_200_01:#e7e7e7; 
--blue_gray_900_00:#111b5300; 
--blue_gray_900:#111b53; 
--blue_900_00:#112aab00; 
--gray_900_02:#141414; 
--gray_900_03:#091242; 
--gray_900_04:#060f3b; 
--blue_gray_100:#d7d7d7; 
--orange_A200:#fcaf3b; 
--gray_200_19:#e7e7e719; 
--gray_500:#999999; 
--blue_gray_400:#8288a6; 
--blue_gray_600:#4d5682; 
--gray_900:#22202a; 
--gray_900_01:#1c1f35; 
--blue_gray_500:#666b89; 
--amber_300:#ffd956; 
--gray_200:#eaeaea; 
--amber_300_01:#ffd550; 
--yellow_700_02:#ffbe34; 
--yellow_700_01:#ffb82b; 
--orange_100:#ffd6a5; 
--gray_100:#f4f4f4; 
--gray_900_7f:#031b377f; 
--indigo_900_01:#26326f; 
--indigo_900:#101b55; 
--white_A700:#ffffff; 
}